
body {
    background-color: #e1bee7; 
}

header {
    background-color: #e1bee7; 
    color: #212121; 
}
a {
    color: #0077cc; /* Change to a color of your preference */
    text-decoration: none; /* Removes the underline */
    padding: 5px 10px;
    border: 1px solid #0077cc;
    border-radius: 5px;
}
a:hover {
    background-color: #0077cc; 
    color: #536dfe;
}
.page2 {
    background-color: #990000; /* Replace with your desired background color */
}
.centered-bold-underline {
    text-align: center;     /* Centers the text horizontally */
    font-weight: bold;      /* Makes the text bold */
    text-decoration: underline; /* Adds an underline to the text */
}






